{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block header}}
{{end}}

{{if 'message' in globals():}}
  <h2>{{=message}}</h2>
  <p>
    Bienvenido/a al <b>SIGPAE</b>. Este sistema le facilitá el proceso de creación, modificación o eliminación de
    Programas Analíticos de Estudio, para pregrado y postgrado, ofrecidos en la Universidad Simón Bolívar.
  </p>
{{pass}}


<div class="public-search col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
  <h3>Búsquedas Públicas</h3>
  <form>
    <div class="input-group margin-bottom-sm">
      <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
      <input class="form-control" type="text" placeholder="Buscar por código, nombre...">
    </div>
  </form>
</div>
