{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}
<h2> {{=message}}</h2>
{{pass}}

<div class="table-responsive">
 <table id='manange-users-table' class="table table-striped">
   <thead>
     <tr>
       <th>USBID</th>
       <th>Cédula</th>
       <th>Nombre</th>
       <th>Rol</th>
       <th>Email</th>
       <th>Contactar</th>
       <th>Modificar</th>
     </tr>
   </thead>
   <tbody>
     {{for usuario in usuarios:}}
       <tr>
         <td>{{=usuario['username']}}</td>
         <td>{{=usuario['ci']}}</td>
         <td>{{=usuario['name']}}</td>
         <td>{{=usuario['roles']}}</td>
         <td>{{=usuario['email']}}</td>
         <td>
            <a data-toggle="modal"
               data-target="#modalContactarUsuario"
               data-id="{{=usuario['id']}}">
               <i class="fa fa-envelope blue" aria-hidden="true"></i>
            </a>
         </td>
         <td><a href="{{=URL(c='users',f='edit',args=[usuario['id']])}}"<i class="fa fa-pencil-square-o blue" aria-hidden="true"></i></td>
       </tr>
      {{pass}}
   </tbody>
 </table>
 </div>
</div>

<!-- Modal Contactar-->
<div id="modalContactarUsuario" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center><h4 class="modal-title">Contactar Transcriptor</h4><center>
      </div>
      <div class="modal-body">
          <center>
              <p>  {{=formulario_contactar}}</p>
          </center>
      </div>
    </div>
  </div>
</div>

<script>

  // Pasamos los argumentos para contactar el usuario
  $('#modalContactarUsuario').on('show.bs.modal', function(e){
      var id = $(e.relatedTarget).data('id');
      $(e.currentTarget).find('input[name="userid"]').val(id);
      $("#no_table_userid__row").hide();
  });

  // initializing datatable
  $(document).ready( function () {
    var opciones = {
          responsive: true,
            "language": {
                search:         "Buscar: ",
                searchPlaceholder: "Cédula, USBID, Nombre...",
                lengthMenu:     "Mostrar _MENU_ entradas.",
                info:           "Mostrando _START_ a _END_ de _TOTAL_ entradas.",
                infoEmpty:      "",
                infoFiltered:   "",
                infoPostFix:    "",
                loadingRecords: "Cargando datos...",
                zeroRecords:    "No se encontraron Usuarios que correspondan a la búsqueda.",
                emptyTable:     "No hay información disponible.",
                processing:     "Procesando...",
                paginate: {
                    first:      "Primero",
                    previous:   "Anterior",
                    next:       "Siguiente",
                    last:       "Último"
                },
                aria: {
                    sortAscending:  ": Se ordenan las columnas por orden creciente.",
                    sortDescending: ": Se ordenan las columnas por orden decreciente."
                }
            },
             "columns": [
                null,
                null,
                null,
                null,
                null,
                { "orderable": false },
                { "orderable": false }
            ]
        };
      $('#manange-users-table').DataTable(opciones);
  } );
</script>
