{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}
<h2> {{=message}}</h2>
{{pass}}

<div class="table-responsive">
 <table class="table table-striped">
   <thead>
     <tr>
       <th>USBID</th>
       <th>Nombre</th>
       <th>Rol</th>
       <th>Email</th>
       <th>Modificar</th>
     </tr>
   </thead>
   <tbody>
     {{for usuario in usuarios:}}
       <tr>
         <td>{{=usuario['username']}}</td>
         <td>{{=usuario['name']}}</td>
         <td>{{=usuario['roles']}}</td>
         <td>{{=usuario['email']}}</td>
         <td><a href="{{=URL(c='users',f='edit',args=[usuario['id']])}}"<i class="fa fa-pencil-square-o blue" aria-hidden="true"></i></td>
       </tr>
      {{pass}}
   </tbody>
 </table>
 </div>
</div>
